div#main-div{
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    flex-direction: row;
    font-size: 50%;
}

.form-group{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.block-container{
    border-radius: 10px;
    border: 2px #ccc solid;
}

input[type=range]::-webkit-slider-thumb{
    background-color: #666;
    transition-duration: 0.2s;
}

input[type=range]::-webkit-slider-thumb:hover{
    background-color: #aaa;
}

div#left-div{
    display: flex;
    flex-direction: column;
    width: 20%;
    /*padding: 15px 10px;*/
    /*margin: 0;*/
}

div#left-top-div{
    display: flex;
    flex-direction: column;
    height: 65%;
}

div#left-bottom-div{
    display: flex;
    flex-direction: column;
    height: calc(35%);
}

div#middle-div{
    width: calc(65vh * 2);
    display: flex;
    flex-direction: column;
}

div#middle-top-div{
    display: flex;
    flex-direction: row;
    height: calc(65vh);
}

div#middle-top-left-div{
    width: 50%;
}

div#middle-top-right-div{
    width: 50%;
}

div#middle-bottom{
    height: calc(35vh);
}

div#right-div{
    width: calc(80vw - 65vh * 2);

}