div#main-div{
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    flex-direction: row;
}

.form-group{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

div#left-div{
    display: flex;
    flex-direction: column;
    width: 20%;
    /*padding: 15px 10px;*/
    /*margin: 0;*/
    border-radius: 10px;
    border: 2px #ccc solid;
}

div#middle-div{
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    border: 2px #ccc solid;
    /*margin: 3px;*/
}

div#right-div{
    width: 30%;
    padding: 15px;
    border-radius: 10px;
    border: 2px #ccc solid;
    /*margin: 3px;*/
}