<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ static('style/bootstrap-4.3.1-dist/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ static('style/global.css') }}"/>

    <script src="{{ static('script/jQuery/jquery-3.3.1.min.js') }}"></script>
{#    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"#}
{#            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"#}
{#            crossorigin="anonymous"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"#}
{#            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"#}
{#            crossorigin="anonymous"></script>#}
    <script src="{{ static('script/popper/popper.js') }}"></script>
    <script src="{{ static('style/bootstrap-4.3.1-dist/js/bootstrap.js') }}"></script>
    <script src="{{ static('script/D3/d3.js') }}"></script>
</head>
<body>

<div id="main-div">
    <div id="left-div">
        <div id="select-dataset-div" class="param-selection p-2 border-bottom">
            <div class="form-group row p-1">
                <label for="dataset-select" class="col-sm-4 col-form-label col-form-label-sm">数据集</label>
                <div class="col-sm-8">
                    <select id="dataset-select" class="custom-select custom-select-sm">

                    </select>
                </div>
            </div>
            <div id="dataset-detail-div" style="display: none"></div>
        </div>
        <div id="select-layout-div" class="param-selection p-2 border-bottom">
            <div class="form-group row p-1">
                <label for="layout-select" class="col-sm-4 col-form-label col-form-label-sm">布局方法</label>
                <div class="col-sm-8">
                    <select id="layout-select" class="custom-select custom-select-sm">

                    </select>
                </div>
            </div>
        </div>
        <div id="select-multiscale-div" class="param-selection p-2 border-bottom">
            <div class="form-group row p-1">
                <label for="multiscale-select" class="col-sm-4 col-form-label col-form-label-sm">多尺度方法</label>
                <div class="col-sm-8">
                    <select id="multiscale-select" class="custom-select custom-select-sm">

                    </select>
                </div>
            </div>
        </div>
    </div>
    <div id="middle-div">integrate</div>
    <div id="right-div">form_union</div>
</div>

</body>
</html>